.TaskForm {
    width: 500px;
    margin: auto;
    font-family: "Lato-Regular";
    font-size: 1.2rem;
    margin-top: 1rem;

    form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;


        input {
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding: 0.5rem;
            box-sizing: border-box;
            width: 100%;


            &:focus-visible {
                outline: 1px solid #6c259c;
                border: 0;
            }
        }

        button {
            border: none;
            background-color: #6c259c;
            color: white;
            padding: 0.5rem;
            border-radius: 5px;
            // margin-left: 0.5rem;
            width: 5rem;
            transition: .2s ease-in;

            &:hover {
                cursor: pointer;
                background-color: #8c31c9;
                transition: .2s ease-out;
            }
        }

        select {
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            padding: 0.5rem;
            box-sizing: border-box;


            &:focus {
                border: 1px solid #6c259c;
            }

            option {
                border: 1px solid #dfdfdf;
                border-radius: 5px;
                padding: 0.5rem;
                box-sizing: border-box;


            }
        }

        .error {
            border: 1px solid red;

            &:focus {
                border: 1px solid red;
            }

            &:focus-visible {
                outline: 1px solid red;
            }
        }
    }
}