/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

img {
  max-width: 100%;
}

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("/public/fonts/Lato/Lato-Black.ttf");
}

body {
  font-family: "Lato-Regular";
}